/* Main CSS File for Sun Finder */



/* Search Format
-------------------------------------------------- */

#sun_query_index input[type="neighborhood"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

#sun_finder_title{
  color: #333;
  text-decoration: none;
}

.typeahead.dropdown-menu > li {
  text-align: left;
}

/* ajax spinner */
.ajax_txt_pad{
  margin-top: 15%;
}

.ajax_img_pad{
  padding-top:5%;
}

#spinner {
  display: none;
}


/* Formats placeholder in search bar */
::-webkit-input-placeholder {
    color: grey;
    font-style: italic;
    font-size: 80%;
}
:-moz-placeholder {
    color: grey;
    font-style: italic;
}
:-ms-input-placeholder {
    color: grey;
    font-style: italic;
}

/* Map
-------------------------------------------------- */
#map_canvas_search {
  width: 100%;
  height: 400px;
  background-color: #CCC;
}

#map_canvas_results{
  width: 80%;
  height: 400px;
  background-color: #CCC;
  
}

/* Map label */
 .labels {
   color: solid black;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   width: 80px;     
   border: 0px;
   white-space: wrap;
 }

/* Results
-------------------------------------------------- */
/* Gives margin for index page elements */
.margin60 {
  margin-top: 60px;

}

/* Size of the weather img */
.img-circle{
  width:50%;
}

/* Dl content center for temperature */
.tempr_block {
  width: 300px;
  margin: auto;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

	
/* Sticky footer styles
-------------------------------------------------- */

     html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -70px;
      }


      /* Set the fixed height and style of the footer here */
      #push,
      #footer {
        height: 70px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }