<!-- Header for Sun Finder when not index-->

<div class="row-fluid">
    <div class="offset1">  
        <h3> Sun Finder </h3>
    </div>
</div>

<div class="row-fluid ui-widget">    
    <!-- search bar -->
    <div class="span5 offset1">
        <form action="{{ url_for('search') }}" method= "POST" class="form-inline form-search">
            <input type="text" name="query" class="input-medium search-query loc" placeholder="enter neighborhood" autocomplete="off">
            <button type="submit" class="btn btn-warning" id="search_btn2">Sun Search Again</button><br>
            <i class="icon-calendar"></i> <input type="text" name="date" class="search-query input-small datepicker" placeholder="select date"> <i class=" icon-map-marker"></i>

        </form>
    </div>

    <!-- Create Account and Login Buttons - trigger modal -->
    <div class="span4 offset2">
       <a href="{{ url_for('create_login') }}">Create Account</a> 
       <a href="#myModal" role="button" class="btn btn-warning" data-toggle="modal">Login</a>   
        {% include "login_modal.html" %}
          
    </div>
</div>
