<!DOCTYPE html>
<!-- Layout page for Sun Finder-->
<html lang="en">
	<head>
		<title>SF Sun Finder</title>
		<!-- supposed to work if compiled Boostrap from the Customize page?-->
		<meta name = "viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
		<!-- responsive layout -->
		<link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap-responsive.min.css") }}" media="screen" type="text/css">
		<!-- defines all the styles for html elements -->
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}" media="screen" type="text/css">
		<!-- included for datepicker format and additional jquery element ui -->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
	</head>
	<body>
		<!-- part of setting the body apart from the footer -->
		<div id="wrap"> 
			<div class="container-fluid">
				<div class="row-fluid">
					{% block body %} {% endblock %}
				</div>
			</div>
			<!-- helps push the footer to the bottom of the page showing -->
			<div id="push"></div>
		</div>
		
<!-- Footer -->
		<div id="footer">
			<div class="container-fluid">
				<div class="row row-fluid">
					<p class="text-center">
						<small>
							Powered by 
							<a href="http://www.wunderground.com">Weather Underground</a> &
							<a href="http://forecast.io/">Forecast.io</a><br>
							© 2013 Sun Finder Org
						</small>
					</p>
				</div>
			</div>
		</div>

		<!-- for JQuery to work-->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
		<!-- for Bootstrap to work-->
		<script src="static/js/bootstrap.min.js"></script>
		
		<!-- for Google Maps to work-->
		<script src="http://maps.googleapis.com/maps/api/js?libraries=weather&sensor=false"></script>
		<script src="static/js/markerwithlabel.js" type="text/javascript"></script>

		<!-- Customized JS -->
		<script src="static/js/main.js"></script>
		
		<script>
			//datepicker
			$(function() {
     			$( ".datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
   			});

		   //autocomplete list var
	        var availableTags = [ 
	        	{% for location in locations %}
					"{{ location.n_hood|safe }}", 
				{% endfor %} ];

		
		</script>
	</body>
</html>