<!-- Login page for Sun Finder-->

{% extends "layout.html" %}

{% block body %}
    <div>
        <h1 class="text-center"> Sun Finder Login </h1>

        <form action="{{ url_for('login') }}" method="POST" name="login">
            <!-- utilize hidden tag to render any hidden fields-->
            {{form.hidden_tag()}}
            <!-- updates to WTForms returns an HTML safe string so form elements do not need to be escaped -->
            <p> 
                Email: {{form.email(size=30)}}<br>
                {% for error in form.errors.email %}
                <span style = "color: red;">[{{error}}]</span>
                {% endfor %}
            </p>

            <p>
                Password: {{form.password(size=30)}}<br>
                {% for error in form.errors.password %}
                <span style = "color: red;">[{{error}}]</span>
                {% endfor %}
            </p>

            <p> 
                <input type="submit", value="Login" class="btn">
            </p>
        </form>
    </div>

{% endblock %}