<!--About -->
{% extends "layout.html" %}

{% block body %}
{% include "top_search_partial.html" %}

<div class="row-fluid page_results">
    <div class="hero-unit">
        <h3> About Sun Finder </h3>
        <p> A commone question in San Francisco is, "What's the weather where I'm going?". There is such a micro-climate that the weather varies drastically just between neighborhoods.<br>
        </p>
        <p> While picking my final Hackbright project in late April 2013, I went for a hike. My Apple weather app said cloudy with no indication of rain even though it was raining. The app reported a much higher level weather results for SF and I needed something to quickly tell me where to find sun (or at least no rain) in the Bay Area. Thus, the idea for Sun Finder.
        </p>
        <p>The web application's functional goal is to provide a quick search option based on micro-climate location. The underlying goal is to give me something to build my coding skills. If you like this app and want to see it improve, please consider donating through <iframe style="border: 0; margin: 0; padding: 0; vertical-align: bottom;" src="//www.gittip.com/nyghtowl/widget.html" width="48pt" height="22pt"></iframe> and/or send feedback.  
        </p>
    </div>
    <div>
        Additional acknowledgements and resources utilized in the app development:
        <ul>
            <li><a href= "http://twitter.github.io/bootstrap/">Bootstrap</a></li>
            <li><a href="http://glyphicons.com/">Glyphicons</a></li>
            <li><a href="http://all-free-download.com/free-vector/summer-cartoon-sun.html">All Free Download</a></li>
            <li><a href="http://www.clker.com/">Clker</a></li>
        </ul>
    </div>
</div>

<script>
        // console.log("about"); // check load
        
</script>

{% endblock %}

