<!-- About Page for Sun Finder -->

{% extends "layout.html" %}

{% block body %}

<div>
    {% include "top_bar.html" %}
</div>

<div class="hero-unit">
    <h3> About Sun Finder </h3>
    <p> In April 2013, I was trying to go for a hike and I was faced with a common question since I moved to San Francisco over a decade ago: "What's the weather where I'm going?". Its a common challenge when the weather varies drastically just between neighborhoods.<br>
    </p>
    <p> That day of the hike, the weather report for SF was just cloudy even though it was raining where I was.I wanted an app to quickly tell me where to find sun in the Bay Area for the hike. Thus, the idea for Sun Finder.</p>
    <p>The goal is to provide a quick search option based on the Bay Area neighborhood / area to get weather info. Its a work in progress to expand features and functionality but the goal will stay the same to provide a fast and simple answer to what should be a simple question.
    </p>
</div>
<div>
    Additional acknowledgements and resources utilized in the app development:
    <ul>
        <li><a href="https://developers.google.com/maps/">Google Places</a></li>
        <li><a href="https://developers.google.com/maps/">Google Maps</a></li>
        <li><a href= "http://twitter.github.io/bootstrap/">Bootstrap</a></li>
        <li><a href="http://glyphicons.com/">Glyphicons</a></li>
    </ul>
</div>


{% endblock %}