<!--About -->
{% extends "layout.html" %}

{% block body %}
{% include "top_search_partial.html" %}

<div class="row-fluid page_results">
    <div class="hero-unit">
        <h3> About Sun Finder </h3>
        <p> A commone question in San Francisco is, "What's the weather where I'm going?". There is such a micro-climate that the weather varies drastically just between neighborhoods.<br>
        </p>
        <p> I was trying to pick a final Hackbright final project in late April 2013 when I went for a hike. My Apple weather app said cloudy only even though it was raining. I wanted a simple app to quickly tell me where to find sun in the Bay Area for the hike. Thus, the idea for Sun Finder.
        </p>
        <p>The web application's functional goal is to provide a quick search option based on micro-climate location. The underlying goal is to give me something to build my coding skills. If you like this app and want to see it improve, please consider giving through <iframe style="border: 0; margin: 0; padding: 0; vertical-align: bottom;" src="//www.gittip.com/nyghtowl/widget.html" width="48pt" height="22pt"></iframe> and send feedback.  
        </p>
    </div>
    <div>
        Additional acknowledgements and resources utilized in the app development:
        <ul>
            <li><a href="http://developers.google.com/maps/">Google Places</a></li>
            <li><a href="http://developers.google.com/maps/">Google Maps</a></li>
            <li><a href= "http://twitter.github.io/bootstrap/">Bootstrap</a></li>
            <li><a href="http://glyphicons.com/">Glyphicons</a></li>
        </ul>
    </div>
</div>

<script>
        console.log("about"); // check load
        MapLoader.notIndexMapLoad();
</script>

{% endblock %}

