<!-- Calendar & Map -->
<i class="icon-calendar"></i> <input type="text" name="date" class="datepicker input-small search-query" placeholder="select date"> 

<a href="#myModal" role="button" id="build_map" data-toggle="modal"><i class=" icon-map-marker"></i></a>


<!-- Map Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
        <h3 id="myModalLabel">Map View</h3>
    </div>

    <div class="modal-body">
		<div class="span7" =id="map_canvas"></div>
    </div>

    <div class="modal-footer control-group">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>


</div>

<script>

	console.log("calendar_map"); // check load

    // condition to set map_lat & map_long to false if no result
  

	// Initialize map
	function dom_ready() {
		console.log('entered modal load');

		$('.build_map').on('click', function(e) { 
			var map_lat = 37.7655
	        var map_long = -122.4429

			var locations = JSON.parse({{ map_markers }}) // FIX pull locations into dict  in views
			console.log(locations);

			alert('How goes it');
			// Locations for map
			// var availableTags = [ 
			// 	{% for location in locations %}
			// 		"{{ location.n_hood|safe }}", 
			// 	{% endfor %} 
			// 	];


			// var locations = JSON.parse(data)
			// // Coordinates to generate map
			// var positionCoords = [
			// 	{% for coord in locations %}
			// 		new google.maps.LatLng({{ coord.lat}}, {{ coord.lng }}),
			// 	{% endfor %}
			// 	];

			// initialize();
		});
	}

</script>