<!-- Create login page for Sun Finder-->
{% extends "layout.html" %}

{% block body %}

    <div>
        {% include "top_bar.html" %}
    </div>

<div>

    <form action="{{ url_for('create_login') }}" method="POST" name="create_login" class="form-horizontal">
        <h1 class="text-center">Sign Up Below</h1>
        <!-- utilize hidden tag to render any hidden fields-->
        {{cl_form.hidden_tag()}}

        <!-- for loop to generate the form utilizing wtform object -->
        {% for field in cl_form %}
            <!-- made sure to not print csrf token -->
            {% if field.short_name != "csrf_token" %}
                <div class="control-group">
                    <!-- updates to WTForms returns an HTML safe string so form elements do not need to be escaped -->           
                    <label class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            <!-- placeholder will add text inline -->
                            {{ field(size=30) }}
                            {% for error in field.errors %}
                                <span style = "color: red;">[{{error}}]</span>
                            {% endfor %}

                        </div>
                </div>
            {% endif %}
        {% endfor %}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit", value="Create Account" class="btn">Create Account</button>
                    </div>
                </div>
    </form>

</div>

{% endblock %}