<!-- Edit User -->

<div  class="row-fluid page_results" id="create_account_load">
{% include 'flash.html' %}
<h1>Edit Your Profile</h1>
<div class="well">
	<form class="form-horizontal" action="" method="post" name="edit">
		{{ form.hidden_tag() }}
		<div class="control-group{% if form.errors.post %} error {% endif %}">
		<label class="control-label" for="nickname">Your email:</label>	
			<div class="controls">
				{{ form.email(maxlength = 64, class = "span4") }}
				{% for error in form.errors.nickname %}
					<span class="help-inline">[{{error}}]</span><br>
				{% endfor %}
			</div>
		</div>
<!-- 		FIX - add more labels and/or jinja for loop to display content
 -->
		<div class="contorl-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Save Changes"> 
			</div>
		</div>
	</form>
</div>