<!-- Footer -->
<div id="footer">
	<div class="container-fluid">
		<div class="row row-fluid">
			<p class="text-center">
				<small>
					<a href="{{url_for('index')}}">Home</a> | 
					<a id="about_load" style="cursor:pointer;">About & AK</a> |
					<a id="tos_load" style="cursor:pointer;">Terms of Service</a> |
					<a id="privacy_load" style="cursor:pointer;">Privacy Policy </a> <br>
					<a href="http://google.com/"><img src="/static/img/powered-by-google-on-white.png"></a> | 
					<a href="http://www.wunderground.com">Weather Underground (WUI)</a> <br>
					© 2013 <a href="http://http://nyghtowl.io/">Nyghtowl.io</a> 
				</small>
			</p>
		</div>
	</div>
</div>
<script>


	    console.log("footer"); // check load


</script>