<!-- Footer -->
<div id="footer">
	<div class="container-fluid">
		<div class="row row-fluid">
			<p class="text-center">
				<small>
					<a href="{{url_for('index')}}">Home</a> | 
					<a href="{{url_for('about')}}" id="about_load">About & AK</a> |
					<a href="{{url_for('tos')}}" id="tos_load">Terms of Service</a> |
					<a href="{{url_for('privacy')}}" id="privacy_load">Privacy Policy </a> <br>
					<a href="http://google.com/"><img src="https://s3-us-west-1.amazonaws.com/sunfinder/imgs/powered-by-google-on-white.png"></a> | 
					<a href="http://www.wunderground.com">Weather Underground (WUI)</a> <br>
					© 2013 <a href="http://http://nyghtowl.io/">Nyghtowl.io</a> 
				</small>
			</p>
		</div>
	</div>
</div>
<script>


	    console.log("footer"); // check load

</script>