<!-- Footer -->
<div id="footer">
	<div class="container-fluid">
		<div class="row row-fluid">
			<p class="text-center">
				<small>
					<a href="{{url_for('index')}}">Home</a> | 
					<a href="#" id="about_load">About & AK</a> |
					<a href="#" id="tos_load">Terms of Service</a> |
					<a href="#" id="privacy_load">Privacy Policy </a> |
					<a href="http://http://nyghtowl.io/">Nyghtowl.io</a> <br>
					<a href="http://google.com/"><img src="/static/img/powered-by-google-on-white.png"></a> | 
					<a href="http://www.wunderground.com">Weather Underground (WUI)</a> <br>
					© 2013 Nyghtowl.io
				</small>
			</p>
		</div>
	</div>
</div>
<script>
	    console.log("footer"); // check load

		function dom_ready() {	    
			footer_link_load();
		}

</script>