<!-- Index -->

{% extends "layout.html" %}

{% block body %}

    <div class = "row-fluid">
    	{% include 'top_bar.html' %}
	</div>

	<div id="spinner" class="ajax_img_pad">
		<p id="progress" class="text-center">Forecasting in Progress…<br>
		<img id="progress_image" src="static/img/spiffygif_56x56.gif" class="ajax_img_pad">
		</p>
	</div>


	<div class="page_results">
		<div class="row-fluid span5 offset7 margin60">
			<img src="/static/img/sun_samp2.jpeg" width="15%">
		</div>

		<div class="row-fluid">
			<h1 class="text-center"> Sun Finder </h1>
		</div>
		<div class="row-fluid">
			<form action="#" method="POST" class="form-search centered">
			<div class="row-fluid">
				<div class="text-center">
					<!-- Search input -->
					<p><input type="text" name="query" placeholder="enter neighborhood" autocomplete="off" id="sun-query1" data-provide="typeahead"></p>
				</div>
			</div>
				<!-- FIX add a validation of dates that can be chosen and return msg to request new date-->
			<div class="row-fluid">
				<div class="text-center">
					{% include 'calendar_map.html' %}
					{% include 'search_submit.html' %}
				</div>
			</div>
			</form>
		</div>
	</div>
	<script>

		console.log('index');

		var bar_hide = {{ hide_top_search }};

		function weather_ready(){}
		
	</script>

{% endblock %}