<!-- Index -->

{% extends "layout.html" %}

{% block body %}

	<div class="page_results" id="index_load">

		<div class="row-fluid span5 offset7 margin60">
			<img src="http://s3-us-west-1.amazonaws.com/sunfinder/imgs/sun_samp2.jpeg" width="15%">
<!-- 			<img src="/static/img/sun_samp2.jpeg" width="15%"> -->
		</div>

		<div class="row-fluid">
			<h1 class="text-center"> Sun Finder </h1>
		</div>
		<div class="row-fluid" id="index_form_load">
			<div>
				<form action="{{url_for('search')}}" method="POST" class="form-search centered" >
					<div class="row-fluid">
						<div class="text-center">
							<!-- Search input -->
							<p>{% include 'search_partial.html' %}</p>
						</div>
					</div>
						<!-- FIX add a validation of dates that can be chosen and return msg to request new date-->
					<div class="row-fluid">
						<div class="text-center">
							{% include 'calendar_map_partial.html' %}
							{% include 'search_submit_partial.html' %}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>

		console.log('index');

		
	</script>

{% endblock %}