<!-- Index -->

{% extends "layout.html" %}

{% block body %}
	<div class="ui-widget">

	    <div class = "row-fluid">
		    <div class="span3 offset8 margin60">
			    {% include 'account.html' %}
			</div>
 		</div>

		<div class="row-fluid span5 offset7 margin60">
			<img src="/static/img/sun_samp2.jpeg" width="30%">
		</div>

		<div class="row-fluid">
			<h1 class="text-center"> Sun Finder </h1>
			{% include 'flash.html' %}
		</div>
			<form action="{{ url_for('search') }}" method="POST" class="form-search">
			<div class="row-fluid">
				<div class="text-center">
					<p class="text-center">
						{% include 'search.html' %}
					</p>
				</div>
			</div>
				<!-- FIX add a validation of dates that can be chosen and return msg to request new date-->
			<div class="row-fluid">
				<div class="text-center">
					{% include 'calendar_map.html' %}
					{% include 'search_submit.html' %}
				</div>
			</div>

			</form>
		</div>
	</div>
	<script>

		// Sets lat and long to false so the map load will not initialize	
		var map_lat = false;
		var map_long = false;

		function dom_ready() {}
		
	</script>

{% endblock %}