<!DOCTYPE html>

<!-- Layout -->
<html lang="en">
	
	{% include "header_partial.html" %}
	
	<body>


		<!-- Wrap sets the the body apart from the footer -->
		<div id="wrap"> 


			<!-- Top Bar page area --> 
			{% include 'top_bar_partial.html' %}
		    {% include 'flash_partial.html' %}
			<!-- Search spinner -->
			<div id="spinner" class="ajax_img_pad">
				<p id="progress" class="text-center">Forecasting in Progress…<br>
				<img id="progress_image" src="static/img/spiffygif_56x56.gif" class="ajax_img_pad">
				</p>
			</div>

			<div class="container-fluid ui-widget" id="layout_body_container">
				{% block body %} {% endblock %}
			</div>
			<!-- Push moves the footer below -->
			<div id="push"></div>
		</div>

		{% include "footer_partial.html" %}

		<script>

			console.log("layout"); // check load

			lastSearchLocation = '';
			
			
		</script>
	</body>
</html>