<!DOCTYPE html>
<!-- Layout page -->
<html lang="en">
	
	{% include "header.html" %}
	
	<body>
		<!-- Wrap sets the the body apart from the footer -->
		<div id="wrap"> 
			<div class="container-fluid">
				<div class="row-fluid">
					{% block body %} {% endblock %}
				</div>
			</div>
			<!-- Push moves the footer below -->
			<div id="push"></div>
		</div>

		{% include "footer.html" %}

		<!-- JQuery load -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
		<!-- Bootstrap load -->
		<script src="static/js/bootstrap.min.js"></script>
		
		<!-- Google Maps load -->
		<script src="http://maps.googleapis.com/maps/api/js?libraries=weather&sensor=false"></script>
		<script src="static/js/markerwithlabel.js" type="text/javascript"></script>

		<!-- Customized JS -->
		<script src="static/js/main.js"></script>
		
		<script>
	        // sets lat and long to false so the map load will not initialize   
	        var map_lat = false;
	        var map_long = false;

	        function dom_ready() {}
        

			console.log("page immediate"); // test

		   // Autocomplete list var
	        var availableTags = [ 
	        	{% for location in locations %}
					"{{ location.n_hood|safe }}", 
				{% endfor %} 
				];

			var positionCoords = [
				{% for coord in locations %}
					new google.maps.LatLng({{ coord.lat}}, {{ coord.lng }}),
				{% endfor %}
				];
		
		</script>
	</body>
</html>