<!DOCTYPE html>

<!-- Layout -->
<html lang="en">
	
	{% include "header.html" %}
	
	<body>
		<!-- Wrap sets the the body apart from the footer -->
		<div id="wrap"> 
			<div class="container-fluid ui-widget">
				{% block body %} {% endblock %}
			</div>
			<!-- Push moves the footer below -->
			<div id="push"></div>
		</div>

		{% include "footer.html" %}

		<!-- JQuery load -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
		<!-- Bootstrap load -->
		<script src="static/js/bootstrap.min.js"></script>
		<!-- Google Maps load -->
		<script src="http://maps.googleapis.com/maps/api/js?libraries=weather&sensor=false"></script>
		<script src="static/js/markerwithlabel.js" type="text/javascript"></script>

		<!-- Customized JS -->
		<script src="static/js/main.js"></script>
		<script>

			console.log("layout"); // check load


	        // Locations for map
			// var availableTags = [ 
			// 	{% for location in locations %}
			// 		"{{ location.n_hood|safe }}", 
			// 	{% endfor %} 
			// 	];


			// // Coordinates to generate map
			// var positionCoords = [
			// 	{% for coord in locations %}
			// 		new google.maps.LatLng({{ coord.lat}}, {{ coord.lng }}),
			// 	{% endfor %}
			// 	];
			
			$(document).ready(get_search_var());
			
		</script>
	</body>
</html>