<!-- Privacy Policy -->

{% extends "layout.html" %}

{% block body %}
{% include "top_search_partial.html" %}

<div class="row-fluid page_results">
	<div class="hero-unit">
		<h3> Sun Finder Privacy Policy </h3>
	    <!--FIX build out the rest of the content-->
	    All Sun Finder users are bound by Google’s <a href="https://www.google.com/policies/privacy/">Privacy Policy</a>.
	</div>
</div>
<script>
        console.log("privacy"); // check load
        MapLoader.notIndexMapLoad();
</script>

{% endblock %}
