<!-- Search bar -->
<div class="span5 offset1">
    <form action="{{ url_for('search') }}" method= "POST" class="form-inline form-search">
        <input type="text" name="query" class="input-medium search-query loc" placeholder="enter neighborhood" autocomplete="off">
        <button type="submit" class="btn btn-warning" id="search_btn2">Sun Search Again</button><br>
        <i class="icon-calendar"></i> <input type="text" name="date" class="search-query input-small datepicker" placeholder="select date"> <i class=" icon-map-marker"></i>

    </form>
</div>