<!-- Top Search Bar - Not Index --> 
<div class="ui-widget">
    <div class="row-fluid">
        <div class="span5 offset1">  
            <a href="{{url_for('index')}}" id="sun_finder_title"><h3> Sun Finder </h3></a>
        </div>
        <div class="span4 offset2">
        	<h3 id="top_buffer">Hidden</h3>
        </div>
    </div>

    <div class="row-fluid">    
        <div class="span5 offset1" id="top_form_load">
			<!-- Top Form -->
			<form action="{{url_for('search')}}" method="POST" class="form-inline form-search">
			    <!-- Search input -->
			    <p>{% include 'search_partial.html' %}
			    {% include 'search_submit_partial.html' %}</p>
			    {% include 'calendar_map_partial.html' %}
			    <div hidden="true">
			    <input id="top_coord" name="user_coord"></input>
			    </div>
			</form>

        </div>

        <div class="span4 offset2"> 
            {% if not g.user.is_authenticated() %}	
            <a href="{{url_for('create_login')}}" id="create_account_load">Create Account</a> 
            <a href="{{url_for('login')}}" id="login_load" role="button" class="btn btn-warning">Login</a>
            {% endif %}
            {% if g.user.is_authenticated() %}
            <a href="{{url_for('user', fname=g.user.fname)}}" id="create_account_load">{{ g.user.fname }}'s Account</a> 
            <a href="{{url_for('logout')}}" role="button" class="btn btn-warning">Logout</a>
            {% endif %}	              
        </div>

    </div>
	<div class="row-fluid">
    	{% include 'flash_partial.html' %}
	</div>

</div>

<!-- Search spinner -->
{% include 'spinner_partial.html' %}


<script type="text/javascript">
    // console.log('top bar')
</script>


