<!-- Terms of Service Page for Sun Finder -->

{% extends "layout.html" %}

{% block body %}

    <div>
        {% include "header.html" %}
    </div>
    <!--FIX build out the rest of the content-->
    <div>
        All Sun Finder users are bound by Google’s <a href="http://www.google.com/intl/en/policies/terms/">Terms of Service</a>.
    </div>
    <script>    
        // sets lat and long to false so the map load will not initialize   
        var map_lat = false;
        var map_long = false;

        function dom_ready() {}
        
    </script>
{% endblock %}